*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: black;
}
.header{
    height:auto;
    background-color: rgb(94, 91, 91);
}
#title{
    text-shadow: 2.5px 2.5px red;
}
#searchbar{
    margin-top:130px;
}


.mi img{
    width:100%;
    height:380px;
    border:2px solid grey;
    border-radius:5px;
}
.mi img:hover{
    border:2px solid white;   
}
.pages{
    margin:15px 15px 20px 20px;
     text-decoration: none;
    }

    footer a{
        font-size: 20px;
        margin:1px 1px 40px 40px;
        color:black;
        text-decoration:none;
    }